[Desktop Entry]
Name=pyGooglizer
Icon=/usr/share/pygooglizer/pygooglizer.svg
Exec=/usr/bin/pygooglizer
Terminal=false
Type=Application
Categories=GTK;GNOME;Application;Utility;
